$darkBlue: #282e36;
$blueColor: #1571d6;
$blueBlue: #8c95a4;
$whiteColor: #f3f4f6;
$white: #fff;
$brightStar: #dee1e6;
$aluminiumColor: #d1d5db;
$gray90: #e5e5e5;
$turquoise: #3bf9e6;
$yellow: #f9ed2c;
$lightGreen: #17dda3;
$redColor: #f4304c;
